rtk-smart-warehouse.ru {
    encode zstd gzip

    reverse_proxy myapp-api:8000 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
        header_up X-Real-IP {remote}
    }

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    }

    tls bikita.nabkin@gmail.com
}